schemas/MTConnectStreams_1.1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--
Copyright (c) 2008-2010, AMT – The Association For Manufacturing Technology (“AMT”)
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of the AMT nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

DISCLAIMER OF WARRANTY. ALL MTCONNECT MATERIALS AND SPECIFICATIONS PROVIDED
BY AMT, MTCONNECT OR ANY PARTICIPANT TO YOU OR ANY PARTY ARE PROVIDED "AS IS"
AND WITHOUT ANY WARRANTY OF ANY KIND. AMT, MTCONNECT, AND EACH OF THEIR
RESPECTIVE MEMBERS, OFFICERS, DIRECTORS, AFFILIATES, SPONSORS, AND AGENTS
(COLLECTIVELY, THE "AMT PARTIES") AND PARTICIPANTS MAKE NO REPRESENTATION OR
WARRANTY OF ANY KIND WHATSOEVER RELATING TO THESE MATERIALS, INCLUDING, WITHOUT
LIMITATION, ANY EXPRESS OR IMPLIED WARRANTY OF NONINFRINGEMENT,
MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. 

LIMITATION OF LIABILITY. IN NO EVENT SHALL AMT, MTCONNECT, ANY OTHER AMT
PARTY, OR ANY PARTICIPANT BE LIABLE FOR THE COST OF PROCURING SUBSTITUTE GOODS
OR SERVICES, LOST PROFITS, LOSS OF USE, LOSS OF DATA OR ANY INCIDENTAL,
CONSEQUENTIAL, INDIRECT, SPECIAL OR PUNITIVE DAMAGES OR OTHER DIRECT DAMAGES,
WHETHER UNDER CONTRACT, TORT, WARRANTY OR OTHERWISE, ARISING IN ANY WAY OUT OF
THIS AGREEMENT, USE OR INABILITY TO USE MTCONNECT MATERIALS, WHETHER OR NOT
SUCH PARTY HAD ADVANCE NOTICE OF THE POSSIBILITY OF SUCH DAMAGES.
-->
<xs:schema targetNamespace='urn:mtconnect.org:MTConnectStreams:1.1' elementFormDefault='qualified' attributeFormDefault='unqualified' xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:mt='urn:mtconnect.org:MTConnectStreams:1.1' xmlns='urn:mtconnect.org:MTConnectStreams:1.1'>
  <xs:element name='MTConnectStreams' type='MTConnectStreamsType'>
    <xs:annotation>
      <xs:documentation>
        The root node for MTConnect
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='SenderType'>
    <xs:annotation>
      <xs:documentation>
        The sender of the message
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='CreationTimeType'>
    <xs:annotation>
      <xs:documentation>
        The date and time the document was created
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'/>
  </xs:simpleType>
  <xs:simpleType name='SequenceType'>
    <xs:annotation>
      <xs:documentation>
        A sequence number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='TestIndicatorType'>
    <xs:annotation>
      <xs:documentation>
        A debugging flag for testing.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:boolean'/>
  </xs:simpleType>
  <xs:simpleType name='InstanceIdType'>
    <xs:annotation>
      <xs:documentation>
        The instance number of the agent, used for fault tolerance
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='BufferSizeType'>
    <xs:annotation>
      <xs:documentation>
        The size of the agents buffer
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='VersionType'>
    <xs:annotation>
      <xs:documentation>
        A version number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:NMTOKEN'/>
  </xs:simpleType>
  <xs:simpleType name='NameType'>
    <xs:annotation>
      <xs:documentation>
        A short name for any element
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='UuidType'>
    <xs:annotation>
      <xs:documentation>
        A universally unique id that uniquely identifies the element for
        it&apos;s entire life
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='SerialNumberType'>
    <xs:annotation>
      <xs:documentation>
        A serial number for a piece of equipment
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='ItemSourceType'>
    <xs:annotation>
      <xs:documentation>
        The measurement source
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='RateType'>
    <xs:annotation>
      <xs:documentation>
        A sample rate in milliseconds per sample
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='IDType'>
    <xs:annotation>
      <xs:documentation>
        An identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:ID'/>
  </xs:simpleType>
  <xs:simpleType name='DescriptionTextType'>
    <xs:annotation>
      <xs:documentation>
        A description
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='DataItemExtType'>
    <xs:annotation>
      <xs:documentation>
        An extension point for data item types
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[a-ln-z]:[A-Z_0-9]+'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataItemEnumTypeEnum'>
    <xs:annotation>
      <xs:documentation>
        The types of measurements available
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACCELERATION'/>
      <xs:enumeration value='ACTIVE_AXES'/>
      <xs:enumeration value='ALARM'/>
      <xs:enumeration value='AMPERAGE'/>
      <xs:enumeration value='ANGLE'/>
      <xs:enumeration value='ANGULAR_ACCELERATION'/>
      <xs:enumeration value='ANGULAR_VELOCITY'/>
      <xs:enumeration value='AVAILABILITY'/>
      <xs:enumeration value='BLOCK'/>
      <xs:enumeration value='CODE'/>
      <xs:enumeration value='DISPLACEMENT'/>
      <xs:enumeration value='DIRECTION'/>
      <xs:enumeration value='DOOR_STATE'/>
      <xs:enumeration value='EMERGENCY_STOP'/>
      <xs:enumeration value='EXECUTION'/>
      <xs:enumeration value='FREQUENCY'/>
      <xs:enumeration value='PART_COUNT'/>
      <xs:enumeration value='PART_ID'/>
      <xs:enumeration value='PATH_FEEDRATE'/>
      <xs:enumeration value='PATH_POSITION'/>
      <xs:enumeration value='AXIS_FEEDRATE'/>
      <xs:enumeration value='PATH_MODE'/>
      <xs:enumeration value='LINE'/>
      <xs:enumeration value='CONTROLLER_MODE'/>
      <xs:enumeration value='LOAD'/>
      <xs:enumeration value='MESSAGE'/>
      <xs:enumeration value='POSITION'/>
      <xs:enumeration value='POWER_STATUS'/>
      <xs:enumeration value='POWER_STATE'/>
      <xs:enumeration value='PRESSURE'/>
      <xs:enumeration value='PROGRAM'/>
      <xs:enumeration value='ROTARY_MODE'/>
      <xs:enumeration value='COUPLED_AXES'/>
      <xs:enumeration value='AXIS_COUPLING'/>
      <xs:enumeration value='SPINDLE_SPEED'/>
      <xs:enumeration value='TEMPERATURE'/>
      <xs:enumeration value='TORQUE'/>
      <xs:enumeration value='TOOL_ID'/>
      <xs:enumeration value='VELOCITY'/>
      <xs:enumeration value='VIBRATION'/>
      <xs:enumeration value='VOLTAGE'/>
      <xs:enumeration value='WATTAGE'/>
      <xs:enumeration value='WORKHOLDING_ID'/>
      <xs:enumeration value='COMMUNICATIONS'/>
      <xs:enumeration value='LOGIC_PROGRAM'/>
      <xs:enumeration value='MOTION_PROGRAM'/>
      <xs:enumeration value='HARDWARE'/>
      <xs:enumeration value='SYSTEM'/>
      <xs:enumeration value='LEVEL'/>
      <xs:enumeration value='ACTUATOR'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataItemEnumType'>
    <xs:annotation>
      <xs:documentation>
        The types of measurements available
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes='DataItemEnumTypeEnum DataItemExtType'/>
  </xs:simpleType>
  <xs:simpleType name='DataItemSubEnumTypeEnum'>
    <xs:annotation>
      <xs:documentation>
        The sub-types for a measurement
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTUAL'/>
      <xs:enumeration value='COMMANDED'/>
      <xs:enumeration value='MAXIMUM'/>
      <xs:enumeration value='MINIMUM'/>
      <xs:enumeration value='OTHER'/>
      <xs:enumeration value='OVERRIDE'/>
      <xs:enumeration value='PROBE'/>
      <xs:enumeration value='TARGET'/>
      <xs:enumeration value='GOOD'/>
      <xs:enumeration value='BAD'/>
      <xs:enumeration value='ALL'/>
      <xs:enumeration value='LINE'/>
      <xs:enumeration value='CONTROL'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataItemSubEnumType'>
    <xs:annotation>
      <xs:documentation>
        The sub-types for a measurement
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes='DataItemSubEnumTypeEnum DataItemExtType'/>
  </xs:simpleType>
  <xs:simpleType name='StationType'>
    <xs:annotation>
      <xs:documentation>
        The station id for this device
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:complexType name='HeaderType'>
    <xs:annotation>
      <xs:documentation>
        Message header for protocol information
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='xs:string'>
        <xs:attribute name='version' type='VersionType' use='required'/>
        <xs:attribute name='creationTime' type='CreationTimeType' use='required'/>
        <xs:attribute name='nextSequence' type='SequenceType' use='required'/>
        <xs:attribute name='lastSequence' type='SequenceType' use='required'/>
        <xs:attribute name='firstSequence' type='SequenceType' use='required'/>
        <xs:attribute name='testIndicator' type='TestIndicatorType' use='optional'/>
        <xs:attribute name='instanceId' type='InstanceIdType' use='required'/>
        <xs:attribute name='sender' type='SenderType' use='required'/>
        <xs:attribute name='bufferSize' type='BufferSizeType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name='MTConnectStreamsType'>
    <xs:annotation>
      <xs:documentation>
        The root node for MTConnect
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Header' type='HeaderType'>
        <xs:annotation>
          <xs:documentation>
            Protocol dependent information
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Streams' type='StreamsType'>
        <xs:annotation>
          <xs:documentation>
            Streams of data for each piece of equipment
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name='TimestampType'>
    <xs:annotation>
      <xs:documentation>
        The time the sample occurred
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'/>
  </xs:simpleType>
  <xs:simpleType name='DataItemIdType'>
    <xs:annotation>
      <xs:documentation>
        The item&apos;s unique ID that references the data item id from probe
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:NMTOKEN'/>
  </xs:simpleType>
  <xs:simpleType name='ComponentIdType'>
    <xs:annotation>
      <xs:documentation>
        The id of the component (maps to the id from probe)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:ID'/>
  </xs:simpleType>
  <xs:simpleType name='NativeCodeType'>
    <xs:annotation>
      <xs:documentation>
        An Condition code as defined by the component
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:complexType name='StreamsType'>
    <xs:annotation>
      <xs:documentation>
        Event container for all component events
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='DeviceStream' maxOccurs='unbounded' minOccurs='1' type='DeviceStreamType'>
        <xs:annotation>
          <xs:documentation>
            The data from a device
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='DeviceStreamType'>
    <xs:annotation>
      <xs:documentation>
        Data related to a single device
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='ComponentStream' maxOccurs='unbounded' minOccurs='0' type='ComponentStreamType'>
        <xs:annotation>
          <xs:documentation>
            The data for each component
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='name' type='NameType' use='required'/>
    <xs:attribute name='uuid' type='UuidType' use='required'/>
  </xs:complexType>
  <xs:complexType name='ComponentStreamType'>
    <xs:annotation>
      <xs:documentation>
        The stream of data for a component
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Samples' maxOccurs='1' minOccurs='0' type='SamplesType'>
        <xs:annotation>
          <xs:documentation>
            A collection of samples
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Events' maxOccurs='1' minOccurs='0' type='EventsType'>
        <xs:annotation>
          <xs:documentation>
            A collection of events
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Condition' maxOccurs='1' minOccurs='0' type='ConditionListType'>
        <xs:annotation>
          <xs:documentation>
            The representation of the devices condition
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='componentId' type='ComponentIdType' use='required'/>
    <xs:attribute name='name' type='NameType' use='required'/>
    <xs:attribute name='nativeName' type='NameType' use='optional'/>
    <xs:attribute name='component' type='NameType' use='required'/>
    <xs:attribute name='uuid' type='UuidType' use='optional'/>
  </xs:complexType>
  <xs:complexType name='SamplesType'>
    <xs:annotation>
      <xs:documentation>
        A collection of samples for this component
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs='unbounded' minOccurs='1' ref='Sample'/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='EventsType'>
    <xs:annotation>
      <xs:documentation>
        A collection of events and alarms for this component
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs='unbounded' minOccurs='1' ref='Event'/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='ConditionListType'>
    <xs:annotation>
      <xs:documentation>
        The condition of the device
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs='unbounded' minOccurs='1' ref='Condition'/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='ResultType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract event
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='SampleValueType'>
        <xs:attribute name='sequence' type='SequenceType' use='required'/>
        <xs:attribute name='subType' type='DataItemSubEnumType' use='optional'/>
        <xs:attribute name='timestamp' type='TimestampType' use='required'/>
        <xs:attribute name='name' type='NameType' use='optional'/>
        <xs:attribute name='dataItemId' type='DataItemIdType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Result' abstract='true' type='ResultType'>
    <xs:annotation>
      <xs:documentation>
        An abstract event
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='SampleValueType'>
    <xs:annotation>
      <xs:documentation>
        An events data
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='PositionValueType'>
    <xs:annotation>
      <xs:documentation>
        The value for the position
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DisplacementValueType'>
    <xs:annotation>
      <xs:documentation>
        The value for the displacement
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FrequencyValueType'>
    <xs:annotation>
      <xs:documentation>
        The value for the frequency
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AmperageValueType'>
    <xs:annotation>
      <xs:documentation>
        The amperage
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='VoltageValueType'>
    <xs:annotation>
      <xs:documentation>
        The voltage
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='WattValueType'>
    <xs:annotation>
      <xs:documentation>
        The watts
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PressureValueType'>
    <xs:annotation>
      <xs:documentation>
        The pressure
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AccelerationValueType'>
    <xs:annotation>
      <xs:documentation>
        The value for the acceleration
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AngleValueType'>
    <xs:annotation>
      <xs:documentation>
        The angle
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TemperatureValueType'>
    <xs:annotation>
      <xs:documentation>
        The temperature
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='VelocityValueType'>
    <xs:annotation>
      <xs:documentation>
        The temperature
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FeedrateValueType'>
    <xs:annotation>
      <xs:documentation>
        The feedrate
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='VibrationValueType'>
    <xs:annotation>
      <xs:documentation>
        The vibration
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SpindleSpeedValueType'>
    <xs:annotation>
      <xs:documentation>
        The spindle speed
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='LoadValueType'>
    <xs:annotation>
      <xs:documentation>
        A component load
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TorqueValueType'>
    <xs:annotation>
      <xs:documentation>
        A component&apos;s torque
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ThreeDimensionalValueType'>
    <xs:annotation>
      <xs:documentation>
        A three dimensional value &apos;X Y Z&apos; or &apos;A B C&apos;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)? [+-]?\d+(\.\d+)?(E[+-]?\d+)? [+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='SampleType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract sample
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ResultType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Sample' abstract='true' substitutionGroup='Result' type='SampleType'>
    <xs:annotation>
      <xs:documentation>
        An abstract sample
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AmperageType'>
    <xs:annotation>
      <xs:documentation>
        An current a component is drawing
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Amperage' substitutionGroup='Sample' type='AmperageType'>
    <xs:annotation>
      <xs:documentation>
        An current a component is drawing
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='GlobalPositionType'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The three space position of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)? [+-]?\d+(\.\d+)?(E[+-]?\d+)? [+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='GlobalPosition' substitutionGroup='Sample' type='GlobalPositionType'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The three space position of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PositionType'>
    <xs:annotation>
      <xs:documentation>
        The position of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Position' substitutionGroup='Sample' type='PositionType'>
    <xs:annotation>
      <xs:documentation>
        The position of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='VelocityType'>
    <xs:annotation>
      <xs:documentation>
        The velocity of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Velocity' substitutionGroup='Sample' type='VelocityType'>
    <xs:annotation>
      <xs:documentation>
        The velocity of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AccelerationType'>
    <xs:annotation>
      <xs:documentation>
        The acceleration of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Acceleration' substitutionGroup='Sample' type='AccelerationType'>
    <xs:annotation>
      <xs:documentation>
        The acceleration of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AngularAccelerationType'>
    <xs:annotation>
      <xs:documentation>
        The angular acceleration of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AngularAcceleration' substitutionGroup='Sample' type='AngularAccelerationType'>
    <xs:annotation>
      <xs:documentation>
        The angular acceleration of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AngularVelocityType'>
    <xs:annotation>
      <xs:documentation>
        The angular velocity of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AngularVelocity' substitutionGroup='Sample' type='AngularVelocityType'>
    <xs:annotation>
      <xs:documentation>
        The angular velocity of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PathFeedrateType'>
    <xs:annotation>
      <xs:documentation>
        The feedrate of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PathFeedrate' substitutionGroup='Sample' type='PathFeedrateType'>
    <xs:annotation>
      <xs:documentation>
        The feedrate of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AxisFeedrateType'>
    <xs:annotation>
      <xs:documentation>
        The feedrate of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AxisFeedrate' substitutionGroup='Sample' type='AxisFeedrateType'>
    <xs:annotation>
      <xs:documentation>
        The feedrate of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='SpindleSpeedType'>
    <xs:annotation>
      <xs:documentation>
        The spindle speed of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='SpindleSpeed' substitutionGroup='Sample' type='SpindleSpeedType'>
    <xs:annotation>
      <xs:documentation>
        The spindle speed of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AngleType'>
    <xs:annotation>
      <xs:documentation>
        The angle of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Angle' substitutionGroup='Sample' type='AngleType'>
    <xs:annotation>
      <xs:documentation>
        The angle of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TemperatureType'>
    <xs:annotation>
      <xs:documentation>
        The temperature
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Temperature' substitutionGroup='Sample' type='TemperatureType'>
    <xs:annotation>
      <xs:documentation>
        The temperature
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='LoadType'>
    <xs:annotation>
      <xs:documentation>
        The program code
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Load' substitutionGroup='Sample' type='LoadType'>
    <xs:annotation>
      <xs:documentation>
        The program code
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='DisplacementType'>
    <xs:annotation>
      <xs:documentation>
        The displacement as measured from zero to peak
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Displacement' substitutionGroup='Sample' type='DisplacementType'>
    <xs:annotation>
      <xs:documentation>
        The displacement as measured from zero to peak
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='FrequencyType'>
    <xs:annotation>
      <xs:documentation>
        The frequency in hertz
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Frequency' substitutionGroup='Sample' type='FrequencyType'>
    <xs:annotation>
      <xs:documentation>
        The frequency in hertz
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='VoltageType'>
    <xs:annotation>
      <xs:documentation>
        The voltage
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Voltage' substitutionGroup='Sample' type='VoltageType'>
    <xs:annotation>
      <xs:documentation>
        The voltage
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='WattageType'>
    <xs:annotation>
      <xs:documentation>
        The number of Watts
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Wattage' substitutionGroup='Sample' type='WattageType'>
    <xs:annotation>
      <xs:documentation>
        The number of Watts
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PressureType'>
    <xs:annotation>
      <xs:documentation>
        The pressure
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Pressure' substitutionGroup='Sample' type='PressureType'>
    <xs:annotation>
      <xs:documentation>
        The pressure
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TorqueType'>
    <xs:annotation>
      <xs:documentation>
        The torque
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Torque' substitutionGroup='Sample' type='TorqueType'>
    <xs:annotation>
      <xs:documentation>
        The torque
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PathPositionType'>
    <xs:annotation>
      <xs:documentation>
        The 3 dimensional position for tool tip in the path (X Y Z)
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='SampleType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?(E[+-]?\d+)? [+-]?\d+(\.\d+)?(E[+-]?\d+)? [+-]?\d+(\.\d+)?(E[+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PathPosition' substitutionGroup='Sample' type='PathPositionType'>
    <xs:annotation>
      <xs:documentation>
        The 3 dimensional position for tool tip in the path (X Y Z)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='PartCountValueType'>
    <xs:annotation>
      <xs:documentation>
        The number of parts
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BlockValueType'>
    <xs:annotation>
      <xs:documentation>
        Code block value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='CodeValueType'>
    <xs:annotation>
      <xs:documentation>
        Value of the program code
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='ProgramValueType'>
    <xs:annotation>
      <xs:documentation>
        The program name
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='ToolEventValueType'>
    <xs:annotation>
      <xs:documentation>
        A tool event
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='LineValueType'>
    <xs:annotation>
      <xs:documentation>
        The line number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ToolIdValueType'>
    <xs:annotation>
      <xs:documentation>
        The tool identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='PartIdValueType'>
    <xs:annotation>
      <xs:documentation>
        The part identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='WorkholdingIdValueType'>
    <xs:annotation>
      <xs:documentation>
        The workholding identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='MessageValueType'>
    <xs:annotation>
      <xs:documentation>
        A message
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='AxesListValueType'>
    <xs:annotation>
      <xs:documentation>
        A space delimited list of values
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[a-zA-Z][0-9]*( [a-zA-Z][0-9]*)*'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DirectionValueType'>
    <xs:annotation>
      <xs:documentation>
        Rotation Direction
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='CLOCKWISE'/>
      <xs:enumeration value='COUNTER_CLOCKWISE'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PowerStateValueType'>
    <xs:annotation>
      <xs:documentation>
        A power status
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ON'/>
      <xs:enumeration value='OFF'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ExecutionValueType'>
    <xs:annotation>
      <xs:documentation>
        The execution value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='READY'/>
      <xs:enumeration value='INTERRUPTED'/>
      <xs:enumeration value='ACTIVE'/>
      <xs:enumeration value='STOPPED'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ControllerModeValueType'>
    <xs:annotation>
      <xs:documentation>
        The cnc mode value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='AUTOMATIC'/>
      <xs:enumeration value='MANUAL'/>
      <xs:enumeration value='MANUAL_DATA_INPUT'/>
      <xs:enumeration value='SEMI_AUTOMATIC'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DoorStateValueType'>
    <xs:annotation>
      <xs:documentation>
        The status of a door
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='OPEN'/>
      <xs:enumeration value='CLOSED'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='RotaryModeValueType'>
    <xs:annotation>
      <xs:documentation>
        The rotary functions
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='SPINDLE'/>
      <xs:enumeration value='INDEX'/>
      <xs:enumeration value='CONTOUR'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='EmergencyStopValueType'>
    <xs:annotation>
      <xs:documentation>
        ESTOP values
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='TRIGGERED'/>
      <xs:enumeration value='ARMED'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AxesCouplingValueType'>
    <xs:annotation>
      <xs:documentation>
        The method for axes coupling
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='TANDEM'/>
      <xs:enumeration value='SYCHRONOUS'/>
      <xs:enumeration value='MASTER'/>
      <xs:enumeration value='SLAVE'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AvailabilityValueType'>
    <xs:annotation>
      <xs:documentation>
        Possible values for availability data item
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='AVAILABLE'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PathModeValueType'>
    <xs:annotation>
      <xs:documentation>
        The values for path mode
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='SYNCHRONOUS'/>
      <xs:enumeration value='MIRROR'/>
      <xs:enumeration value='INDEPENDENT'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='EventType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract event
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ResultType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Event' abstract='true' substitutionGroup='Result' type='EventType'>
    <xs:annotation>
      <xs:documentation>
        An abstract event
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='CodeType'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The program code
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Code' substitutionGroup='Event' type='CodeType'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The program code
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='BlockType'>
    <xs:annotation>
      <xs:documentation>
        The program code
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Block' substitutionGroup='Event' type='BlockType'>
    <xs:annotation>
      <xs:documentation>
        The program code
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='LineType'>
    <xs:annotation>
      <xs:documentation>
        The program&apos;s line of execution
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:pattern value='[+-]?\d+|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Line' substitutionGroup='Event' type='LineType'>
    <xs:annotation>
      <xs:documentation>
        The program&apos;s line of execution
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PowerStatusType'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The components power status
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='ON'/>
        <xs:enumeration value='OFF'/>
        <xs:enumeration value='UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PowerStatus' substitutionGroup='Event' type='PowerStatusType'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The components power status
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PowerStateType'>
    <xs:annotation>
      <xs:documentation>
        The components power state
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='ON'/>
        <xs:enumeration value='OFF'/>
        <xs:enumeration value='UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PowerState' substitutionGroup='Event' type='PowerStateType'>
    <xs:annotation>
      <xs:documentation>
        The components power state
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PartCountType'>
    <xs:annotation>
      <xs:documentation>
        An event that indicates the number of parts
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:pattern value='[+-]?\d+|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PartCount' substitutionGroup='Event' type='PartCountType'>
    <xs:annotation>
      <xs:documentation>
        An event that indicates the number of parts
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='DirectionType'>
    <xs:annotation>
      <xs:documentation>
        The direction of rotation
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='CLOCKWISE'/>
        <xs:enumeration value='COUNTER_CLOCKWISE'/>
        <xs:enumeration value='UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Direction' substitutionGroup='Event' type='DirectionType'>
    <xs:annotation>
      <xs:documentation>
        The direction of rotation
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ProgramType'>
    <xs:annotation>
      <xs:documentation>
        The programs file name or identifier
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Program' substitutionGroup='Event' type='ProgramType'>
    <xs:annotation>
      <xs:documentation>
        The programs file name or identifier
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ExecutionType'>
    <xs:annotation>
      <xs:documentation>
        Program execution events
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='READY'/>
        <xs:enumeration value='INTERRUPTED'/>
        <xs:enumeration value='ACTIVE'/>
        <xs:enumeration value='STOPPED'/>
        <xs:enumeration value='UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Execution' substitutionGroup='Event' type='ExecutionType'>
    <xs:annotation>
      <xs:documentation>
        Program execution events
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ControllerModeType'>
    <xs:annotation>
      <xs:documentation>
        CNC mode state
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='AUTOMATIC'/>
        <xs:enumeration value='MANUAL'/>
        <xs:enumeration value='MANUAL_DATA_INPUT'/>
        <xs:enumeration value='SEMI_AUTOMATIC'/>
        <xs:enumeration value='UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='ControllerMode' substitutionGroup='Event' type='ControllerModeType'>
    <xs:annotation>
      <xs:documentation>
        CNC mode state
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ToolIdType'>
    <xs:annotation>
      <xs:documentation>
        The current Tool Identifier
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='ToolId' substitutionGroup='Event' type='ToolIdType'>
    <xs:annotation>
      <xs:documentation>
        The current Tool Identifier
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PartIdType'>
    <xs:annotation>
      <xs:documentation>
        The current Tool Identifier
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PartId' substitutionGroup='Event' type='PartIdType'>
    <xs:annotation>
      <xs:documentation>
        The current Tool Identifier
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='DoorStateType'>
    <xs:annotation>
      <xs:documentation>
        The status of the door
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='OPEN'/>
        <xs:enumeration value='CLOSED'/>
        <xs:enumeration value='UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='DoorState' substitutionGroup='Event' type='DoorStateType'>
    <xs:annotation>
      <xs:documentation>
        The status of the door
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='WorkholdingIdType'>
    <xs:annotation>
      <xs:documentation>
        The current workholding Identifier
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='WorkholdingId' substitutionGroup='Event' type='WorkholdingIdType'>
    <xs:annotation>
      <xs:documentation>
        The current workholding Identifier
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='RotaryModeType'>
    <xs:annotation>
      <xs:documentation>
        The function of the rotary axis
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='SPINDLE'/>
        <xs:enumeration value='INDEX'/>
        <xs:enumeration value='CONTOUR'/>
        <xs:enumeration value='UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='RotaryMode' substitutionGroup='Event' type='RotaryModeType'>
    <xs:annotation>
      <xs:documentation>
        The function of the rotary axis
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ActiveAxesType'>
    <xs:annotation>
      <xs:documentation>
        The list of axes in use
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:pattern value='[a-zA-Z][0-9]*( [a-zA-Z][0-9]*)*'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='ActiveAxes' substitutionGroup='Event' type='ActiveAxesType'>
    <xs:annotation>
      <xs:documentation>
        The list of axes in use
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='CoupledAxesType'>
    <xs:annotation>
      <xs:documentation>
        The list of associated axes
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:pattern value='[a-zA-Z][0-9]*( [a-zA-Z][0-9]*)*'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='CoupledAxes' substitutionGroup='Event' type='CoupledAxesType'>
    <xs:annotation>
      <xs:documentation>
        The list of associated axes
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AxesCouplingType'>
    <xs:annotation>
      <xs:documentation>
        The way the axes are associated
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='TANDEM'/>
        <xs:enumeration value='SYCHRONOUS'/>
        <xs:enumeration value='MASTER'/>
        <xs:enumeration value='SLAVE'/>
        <xs:enumeration value='UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AxesCoupling' substitutionGroup='Event' type='AxesCouplingType'>
    <xs:annotation>
      <xs:documentation>
        The way the axes are associated
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='MessageType'>
    <xs:annotation>
      <xs:documentation>
        A generic message
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='EventType'>
        <xs:attribute name='nativeCode' type='NativeCodeType' use='optional'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Message' substitutionGroup='Event' type='MessageType'>
    <xs:annotation>
      <xs:documentation>
        A generic message
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='EmergencyStopType'>
    <xs:annotation>
      <xs:documentation>
        Emergency Stop status
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='TRIGGERED'/>
        <xs:enumeration value='ARMED'/>
        <xs:enumeration value='UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='EmergencyStop' substitutionGroup='Event' type='EmergencyStopType'>
    <xs:annotation>
      <xs:documentation>
        Emergency Stop status
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AvailabilityType'>
    <xs:annotation>
      <xs:documentation>
        The availability of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='AVAILABLE'/>
        <xs:enumeration value='UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Availability' substitutionGroup='Event' type='AvailabilityType'>
    <xs:annotation>
      <xs:documentation>
        The availability of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PathModeType'>
    <xs:annotation>
      <xs:documentation>
        The actuator state of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='EventType'>
        <xs:enumeration value='SYNCHRONOUS'/>
        <xs:enumeration value='MIRROR'/>
        <xs:enumeration value='INDEPENDENT'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PathMode' substitutionGroup='Event' type='PathModeType'>
    <xs:annotation>
      <xs:documentation>
        The actuator state of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='LinePowerStateType'>
    <xs:annotation>
      <xs:documentation>
        The state of the line power
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='PowerStateType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='LinePowerState' substitutionGroup='PowerState' type='LinePowerStateType'>
    <xs:annotation>
      <xs:documentation>
        The state of the line power
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ControlPowerStateType'>
    <xs:annotation>
      <xs:documentation>
        The state of the line power
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='PowerStateType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='ControlPowerState' substitutionGroup='PowerState' type='ControlPowerStateType'>
    <xs:annotation>
      <xs:documentation>
        The state of the line power
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='ConditionDescriptionType'>
    <xs:annotation>
      <xs:documentation>
        The description of the Condition
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='NativeSeverityType'>
    <xs:annotation>
      <xs:documentation>
        The device&apos;s severity
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='QualifierType'>
    <xs:annotation>
      <xs:documentation>
        A qualifier for the condition
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='HIGH'/>
      <xs:enumeration value='LOW'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='ConditionType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract indicator of the device&apos;s condition
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ConditionDescriptionType'>
        <xs:attribute name='sequence' type='SequenceType' use='required'/>
        <xs:attribute name='timestamp' type='TimestampType' use='required'/>
        <xs:attribute name='name' type='NameType' use='optional'/>
        <xs:attribute name='dataItemId' type='DataItemIdType' use='required'/>
        <xs:attribute name='type' type='DataItemEnumType' use='required'/>
        <xs:attribute name='nativeCode' type='NativeCodeType' use='optional'/>
        <xs:attribute name='nativeSeverity' type='NativeSeverityType' use='optional'/>
        <xs:attribute name='qualifier' type='QualifierType' use='optional'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Condition' abstract='true' type='ConditionType'>
    <xs:annotation>
      <xs:documentation>
        An abstract indicator of the device&apos;s condition
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='UnavailableType'>
    <xs:annotation>
      <xs:documentation>
        The conditon can not be determined.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ConditionType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Unavailable' substitutionGroup='Condition' type='UnavailableType'>
    <xs:annotation>
      <xs:documentation>
        The conditon can not be determined.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='NormalType'>
    <xs:annotation>
      <xs:documentation>
        The item being monitored is operating normally and no action is
        required. Also indicates a cleared condition.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ConditionType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Normal' substitutionGroup='Condition' type='NormalType'>
    <xs:annotation>
      <xs:documentation>
        The item being monitored is operating normally and no action is
        required. Also indicates a cleared condition.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='WarningType'>
    <xs:annotation>
      <xs:documentation>
        he item being monitored is moving into the abnormal range and should be
        observed. No action required at this time.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ConditionType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Warning' substitutionGroup='Condition' type='WarningType'>
    <xs:annotation>
      <xs:documentation>
        he item being monitored is moving into the abnormal range and should be
        observed. No action required at this time.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='FaultType'>
    <xs:annotation>
      <xs:documentation>
        The item has failed an intervention is required to return to a normal
        condition. Transition to a normal condition indicates that the Fault has
        been cleared. Something that needs to be acknowledged. Sometimes noted
        as an alarm.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ConditionType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Fault' substitutionGroup='Condition' type='FaultType'>
    <xs:annotation>
      <xs:documentation>
        The item has failed an intervention is required to return to a normal
        condition. Transition to a normal condition indicates that the Fault has
        been cleared. Something that needs to be acknowledged. Sometimes noted
        as an alarm.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='NotifcationDescriptionType'>
    <xs:annotation>
      <xs:documentation>
        The description of the Notifcation
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='NativeNotifcationCodeType'>
    <xs:annotation>
      <xs:documentation>
        An Notifcation code as defined by the component
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='NotifcationCodeType'>
    <xs:annotation>
      <xs:documentation>
        Types of Notifcations
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='FAILURE'/>
      <xs:enumeration value='FAULT'/>
      <xs:enumeration value='CRASH'/>
      <xs:enumeration value='JAM'/>
      <xs:enumeration value='OVERLOAD'/>
      <xs:enumeration value='ESTOP'/>
      <xs:enumeration value='MATERIAL'/>
      <xs:enumeration value='MESSAGE'/>
      <xs:enumeration value='OTHER'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AlarmStateType'>
    <xs:annotation>
      <xs:documentation>
        The active or cleared state of the notification
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTIVE'/>
      <xs:enumeration value='CLEARED'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SeverityType'>
    <xs:annotation>
      <xs:documentation>
        The severity of the notification
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='CRITICAL'/>
      <xs:enumeration value='ERROR'/>
      <xs:enumeration value='WARNING'/>
      <xs:enumeration value='INFORMATION'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='AlarmType'>
    <xs:annotation>
      <xs:documentation>
        An Notifcation event
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='EventType'>
        <xs:attribute name='code' type='NotifcationCodeType' use='required'/>
        <xs:attribute name='severity' type='SeverityType' use='optional'/>
        <xs:attribute name='state' type='AlarmStateType' use='optional'/>
        <xs:attribute name='nativeCode' type='NativeNotifcationCodeType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Alarm' substitutionGroup='Event' type='AlarmType'>
    <xs:annotation>
      <xs:documentation>
        An Notifcation event
      </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>