schemas/xlink.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://www.w3.org/1999/xlink">
	<xs:attribute name="type" type="xlink:typeType"/>
	<xs:simpleType name="typeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="simple"/>
			<xs:enumeration value="extended"/>
			<xs:enumeration value="title"/>
			<xs:enumeration value="resource"/>
			<xs:enumeration value="locator"/>
			<xs:enumeration value="arc"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attribute name="href" type="xlink:hrefType"/>
	<xs:simpleType name="hrefType">
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
</xs:schema>
